@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 120vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: linear-gradient(
    109.5deg,
    rgb(229, 233, 177) 11.2%,
    rgb(223, 205, 187) 100.2%
  );
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: rgb(255, 255, 255);
  padding: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.button-styled {
  width: 150px;
  height: 60px;
  color: #fff;
  padding: 5px 10px;
  font-family: "Poppins";
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #efefef;
  box-shadow: 2px 2px 4px #c8d0e7, -1px -1px 3px #fff;
  color: #585858;
  border: 2px solid rgb(157, 154, 154);
}
.button-styled:active {
  box-shadow: inset 1px 1px 3px #c8d0e7, inset -1px -1px 3px #fff;
}
